NolesFootball/bin/
NolesFootball/local.properties

CollegeClasses/bin/
CollegeClasses/local.properties

TNAWrestling/bin/
TNAWrestling/local.properties

KnightsFootball/bin/
KnightsFootball/local.properties

AndroidNolesCore/local.properties

